@{
    ViewData["Title"] = "Index";
}


<h1>Common Items List File Upload</h1>

<form id="frmProductListUpload" method="post" action="/CommonItems/UploadFile" enctype="multipart/form-data">
    <partial name="../Shared/_UploadForm.cshtml" />
</form>

